/* Write your CSS here */
.TimelineView_container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.responsive_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1110px;
  height: 100vh;
}

.header_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.heading {
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 500;
  color: #171f46;
  text-align: center;
  line-height: 2.7;
  margin: 0px;
}
@media screen and (min-width: 768px) {
  .heading {
    font-size: 20px;
  }
}

.ccbp_heading {
  font-family: 'Roboto';
  font-size: 24px;
  font-weight: 500;
  color: #2b237c;
  margin: 0px;
}
@media screen and (min-width: 768px) {
  .ccbp_heading {
    font-size: 30px;
  }
}